{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <title>Document</title>
</head>
<marquee><body>
    <nav>
        <a href="/">Home</a>
        <a href="/post">Posts</a>
        <a href="/cadastro">Cadastro</a>
        <a href="#">Login</a>
    </nav>

    
    {% block content %}
    <li> 'OLAAAAAAAAAAA' </li>
    {% endblock %}
</body></marquee>
</html>